@import url("features.css");

.cart-product{
  max-width: 300px;
  margin-right: 3%;
}
.cart-btn{
  background-color: var(--button-color);
  border: none
}
.cart-btn:hover{
  color: black;
  background-color:var(--hover-color);
}

.cart-counter{
  width: 50px;
  padding: 10px 10px 10px 5px;
  margin-left: 40%;
}
