@import url("features.css");

.sidebar{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: var(--bg-color);
  padding: 0px 0px;
}
.sidebar-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
}
.sidebar-item:hover{
  background-color: var(--button-color);
  color: var(--bg-color)!important;
}
.sidebar-sub{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background-color: var(--bg-color);
  margin-left: 1%;
  padding: 0px 0px;
}
.sidebar-subitem{
  text-align: start;
}
.sidebar-subitem:hover{
  background-color: var(--button-color);
  color: var(--bg-color)!important;
}