@import url("features.css");

.form-control:focus{
  box-shadow: none;
}
.form-text{
  float: right;
}
.login-card{
  max-width: 450px;
  margin-top: 4%;
  margin-left: 35%;
  display: flex;
  flex-direction: column;
}
.signin-btn{
  float: left;
  margin-top: 3%;
  background-color: var(--button-color);
  border: none
}
.signin-btn:hover{
  background-color: var(--hover-color);
  color:black
}
.login-title{
  float: left;
  margin-top: 3%;
}
.signin-check{
  display: flex;
  justify-content: flex-start;
  gap: 5px
}
.signin-check input{
  box-shadow: none
}
.signin-check input:focus{
  border-color: var(--main-color);
}
.signin-check input:checked{
  box-shadow: none;
  background-color:var(--main-color);
  border: none;
  accent-color: var(--main-color)
}
.google-img{
  max-width: 30px;
  margin-right: 3%;
}       
.google{
  display: flex;
  align-items: center;
}