@import url("features.css");


.product-cartpart{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cartpart-input{
  max-width: 80px;
}
.cartpart-btn{
  background-color: var(--button-color);
  border:none;
  margin-left:0px;
  max-width: 150px;
}
.cartpart-btn:hover{
  background-color: var(--hover-color);
  color:black
}
.product div p{
  color:var(--font-color)!important;
  text-align: start;
  margin-top: 10%;
  line-height: 30px;
  margin-bottom: 10%;
}
.product div h1{
  text-align: start;
}